body{
    background-color: #10a885;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
    color: brown;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: brown;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
.example{
    margin: 20px;
    color: black;
    border-radius: 10px;

}
.container{
    margin:2px;
    border: 10px;
    border-radius: 10px;
    background-color: #E4F9F5;

   
}
